.card{
    z-index: 50;
}

.cardImage{
    height: 50px;
    width: 50px;
}

.cardBody{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--header-primary-color);
}

.cardBody a{
    color: var(--header-primary-color);
}
.cardBody a:hover{
    color: var(--hightlight-color);
}

.cardHeader,.cardFooter{
    background-color: var(--header-primary-color);
    color: white;
}

.description{
    width: 100%;
    min-height: 200px;
}

.btn{
    z-index: 1000;
}

.Buttoncontainer{

}