.card{
    z-index: -1;
}

.cardImage{
    height: 50px;
    width: 50px;
}

.cardBody{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--header-primary-color);
}

.cardBody a{
    color: var(--header-primary-color);
}
.cardBody a:hover{
    color: var(--hightlight-color);
}

.cardHeader,.cardFooter{
    background-color: var(--header-primary-color);
    color: white;
}