.section{
  min-height: 100vh;
}

.min-h100vh{
  min-height: 100vh;
  overflow: hidden;
}

.max-h100vh{
  max-height: 95vh;
  overflow: auto;
}

.navigationSidebar{
  background-color: var(--background-color);
  
}

/* .navbarHeaderBar{
  position: relative;
  display: block;
} */

/* .App-header{
  position: fixed;
} */