.section{
  min-height: 100vh;
}

.min-h100vh{
  min-height: 100vh;
  overflow: hidden;
}

.max-h100vh{
  max-height: 95vh;
  overflow: auto;
}

.navigationSidebar{
  background-color: var(--background-color);
  
}

.navbarHeaderBar{
  position: fixed;
    display: block;
    width: 100%;
    /* background: var(--background-color); */
    display: flex;
    justify-content: flex-end;
    color: white;
}

.mainContainer{
  margin-left: 200px;
}


/* for Mobile */
@media screen and (max-width: 574px) {
.mainContainer{
  margin-left: 0;
}
.navbarHeaderBar{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;

  z-index: 1;
}
}

.Header_contact{
  font-size: 16px;
}
/* .App-header{
  position: fixed;
} */

.smallfontSize{
  font-size: 16px;
}