.section{
  min-height: 100vh;
}

.min-h100vh{
  min-height: 100vh;
  overflow: hidden;
}

.max-h100vh{
  max-height: 95vh;
  overflow: auto;
}

.navigationSidebar{
  background-color: var(--background-color);
  
}

.navbarHeaderBar{
  position: fixed;
    display: block;
    width: 100%;
    background: var(--background-color);
    display: flex;
    justify-content: flex-end;
    color: white;
}

/* .App-header{
  position: fixed;
} */